<section class="footer p-5">
  <div class="container text-center p-4">
    <div class="row row-cols-md-3 row-cols-sm-1 g-4">
      <div class="col">
        <div class="caption text-center">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col ">
        <h3 class="text-center">AROUND THE WEB</h3>
        <div class="icons d-flex justify-content-center  gap-3 ">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-solid fa-globe"></i>

        </div>
      </div>
      <div class="col">
        <div class="info text-center">
          <h3>ABOUT FREELANCER</h3>
          <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class=" end p-3">
  <div class="container">
    <p class="text-center">Copyright © Your Website 2021</p>
  </div>

</section>
