.about{
  background-color: #1ABC9C;
  min-height: 70vh;
}
h2{
  text-transform: uppercase;

}
.lines{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;


}
.linee{
  width: 10%;
  height: 15%;
  background-color: white;
  position: absolute;
  left: 40%;
  transform: translatex(-40%);
}
.lines i {
  color: white;
  font-size: 20px;
}
.line2{

    width: 10%;
    height: 15%;
    background-color: white;
    position: absolute;
    right:  40%;
    transform: translatex(40%);
  }
.about-info p{
font-weight: 400;
font-size: 16px;
color: white;
}
