<section class="contact p-3">
<div class="container p-5">
  <div class="contact-info">
    <h2 class="text-center">conatct section</h2>
  </div>
  <div class="parent-lines position-relative d-flex justify-content-center align-items-center gap-3 mb-3">
    <div class="l1"></div>
    <div class="icon-star">
      <i class="fa-solid fa-star"></i>
    </div>
    <div class="l2"></div>
  </div>
  <div class="myinputs position-relative">
    <input type="text" class="form-control mx-auto border border-0 w-50 " placeholder="userName" name="username" id="">
    <br>
    <input type="number" class="form-control mx-auto border border-0 w-50 " placeholder="userAge" name="userage" id="">
    <br>
    <input type="email"  class="form-control mx-auto border border-0 w-50 " placeholder="userEmail" name="userEmail" required  id="">
    <br>
    <input type="password" class="form-control mx-auto border border-0 w-50 " placeholder="userPassword" name="userPassword" id="">
    <br>
    <div class="mybtn">
      <button class="btn btn-success " > send message</button>
    </div>

  </div>

</div>
</section>
